@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

/*basic stylesheet*/
@import "default/reset.css";
@import "default/variables.css";

/*Components */
@import "components/status-bar.css";
@import "components/header-top.css";
@import "components/user-comp/user.css";
@import "components/user-comp/userchat.css";
@import "components/friends-category.css";
@import "components/nav.css";
@import "components/badge.css";

/*Screens*/
@import "screens/firstscreen.css";
@import "screens/screen-mainchat.css";
@import "screens/mainchatscreen.css";

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Noto Sans KR", sans-serif;
  height: 1000vh;
  margin-top: 10px;
}

.screens-main {
  padding: 0px 15px;
  margin-top: 45px;
}
