.badge-number-basic {
  background-color: var(--red);
  width: 18px;
  height: 18px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}

.badge-dot-basic {
  background-color: var(--red);
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
