.badge-number-basic {
  background-color: var(--red);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}

.badge-dot-basic {
  background-color: var(--red);
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

.nav-bar__notification-chat {
  position: absolute;
  left: 14px;
  bottom: 11px;
}

.nav-bar__notification-ellipsis {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.badge-number__chat {
  font-size: 11px;
  position: absolute;
  top: 22px;
  left: 6px;
}
