.friends-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0px;
  color: var(--grey2);
  font-size: 14px;
  border-top: 1px solid #1f1f1f;
  opacity: 0.7;
}
