.status-bar {
  position: fixed;
  top: 0px;
  width: 99%;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 5px;
}

.status-bar__column {
  width: 32%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:last-child i,
.status-bar__column:last-child span {
  margin-right: 3px;
}

.status-bar__column:last-child i {
  margin-top: 1px;
}
